.tweets {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;    
}

.tweets .twitter-tweet {
    display: flex;
    margin: auto;
}

.newTweets {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.375rem;
    padding: 1rem;
}

.newTweets a {
    color: rgb(29, 155, 240);
}

.x-Logo {
    display: flex;
    align-self: right;
}

.x-Logo img {
    height: 1em;
    width: 1em;
}

.avatar {
    border-radius: 50%;
    height: 3em;
    width: 3em;
    margin-right: 1em;
}

.text-xs {
    font-size: 1rem;
    line-height: 1rem;
    flex: 1 1 0;
}

.block {
    display: block;
}

.top-bar {
    width: 100%;
    display: flex; 
    justify-content: space-between;
}

.leftColumn {
    display: flex;
}

.rightColumn {
    display: flex;
}

.main-text {
    margin-top: 2rem;
}